body{
    background-color: rgba(242, 220, 231, 0.908);
    background-position: center;
    background-size: 50% 50%;
    background-image: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}

h2{
font-size: 50px;
color: rgb(23, 25, 27);
font-family: monospace;
border: 2px solid rgba(245, 245, 245, 0.326);
border-color: aliceblue; 
border:  4mm solid white;
background-color: white;
position: relative;
top: -200px; left: 100px;
border-radius: 1px;
border-left: 2cm;
box-sizing: border-box;
width:500px



}

h4{
  text-decoration-thickness: 3px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;top: -200px; left: 100px;
  font-size: 30px;
  color: aliceblue;
}
a{
    font-size: xx-large;
    position:static;
    font-variant-position: initial;
color: rgba(114, 55, 172, 0.349);
}

#schedule{
margin: 20% 20% 20% 20%;
z-index: -1;
border: 30px solid rgb(187, 159, 159);
}
div{
  position: absolute;
  top: 5%;
  right: 40%;
  bottom: 20%;
  left: 15%;
  font-variant-position: top center;
}